In [210]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [211]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv("Resources/athletic_sales_2020.csv")
df_2021 = pd.read_csv("Resources/athletic_sales_2021.csv")

In [212]:
# Display the 2020 sales DataFrame
df_2020.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online

In [213]:
# Display the 2021 sales DataFrame
df_2021.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
5,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,45,475,213750,53437.50,Outlet
6,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,60,218,13080,6670.80,Online
7,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,46,225,10350,4554.00,Outlet
8,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,65,750,487500,195000.00,Outlet
9,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,43,138,5934,2314.26,Online

#### Check the data types of each DataFrame

In [214]:
# Check the 2020 sales data types.
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [215]:
# Check the 2021 sales data types.
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB

#### Combine the sales data by rows.

In [216]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_data = pd.concat([df_2020, df_2021], axis="rows",join= "inner").reset_index(drop = True)
combined_data.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [217]:
# Check if any values are null.
combined_data.isna().sum()

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [218]:
# Check the data type of each column
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB

In [219]:
# Convert the "invoice_date" to a datetime datatype
combined_data["invoice_date"]= pd.to_datetime(combined_data["invoice_date"],errors= "coerce")
combined_data.head()

C:\Users\Maharrani Raisha\AppData\Local\Temp\ipykernel_22316\3647529989.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_data["invoice_date"]= pd.to_datetime(combined_data["invoice_date"],errors= "coerce")

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [220]:
# Confirm that the "invoice_date" data type has been changed.
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [221]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold = combined_data.groupby(["region", "state", "city"]).size().reset_index(name="Total_Products_Sold")

# Show the top 5 results.
top_regions = products_sold.sort_values(by='Total_Products_Sold', ascending=True).head()
print(top_regions)

     region      state         city  Total_Products_Sold
5   Midwest  Minnesota  Minneapolis                  142
0   Midwest   Illinois      Chicago                  144
46     West     Hawaii     Honolulu                  144
45     West   Colorado       Denver                  144
41     West     Alaska    Anchorage                  144

#### Using `pivot_table`

In [222]:
# Show the number products sold for region, state, and city.
pivot_table_products_sold = pd.pivot_table(combined_data,
                                        index =["region", "state", "city"],
                                        values ="units_sold", aggfunc="count")

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_products_sold = pivot_table_products_sold.rename(columns={"units_sold": "Total_Products_Sold"})

# Show the top 5 results.
top_products_region = pivot_table_products_sold.nlargest(5,"Total_Products_Sold")
print(top_products_region)

                                      Total_Products_Sold
region    state         city
Northeast Connecticut   Hartford                      216
          Massachusetts Boston                        216
          New Hampshire Manchester                    216
          New York      New York                      216
          Pennsylvania  Philadelphia                  216

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [223]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
most_sales_by_region = combined_data.groupby(["region", "state", "city"]).size().reset_index(name="Total_sales")

# Show the top 5 results.
top_sales_region = most_sales_by_region.sort_values(by='Total_sales', ascending=False).head()
print (top_sales_region)

       region      state           city  Total_sales
27      South   Arkansas    Little Rock          216
40  Southeast   Virginia       Richmond          216
32      South      Texas         Dallas          216
31      South  Tennessee      Knoxville          216
30      South   Oklahoma  Oklahoma City          216

#### Using `pivot_table`

In [224]:
# Show the total sales for the products sold for each region, state, and city.
total_sales_pivot_table = pd.pivot_table(combined_data, index = ["region", "state", "city"],
                                         values= "total_sales",
                                         aggfunc= "sum")

# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_pivot_table = total_sales_pivot_table.rename(columns={"total_sales": "Total_Sales"})

# Show the top 5 results.
top_total_sales = total_sales_pivot_table.nlargest(5,"Total_Sales")
print(top_total_sales)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [225]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_most_sales = combined_data.groupby(["retailer","region","state","city"])["total_sales"].sum().reset_index()
retailer_most_sales = retailer_most_sales.rename(columns={"total_sales": "Total_Sales"})
# Show the top 5 results.
top_5_retailer = retailer_most_sales.nlargest(5, "Total_Sales")
print(top_5_retailer)

        retailer     region           state           city  Total_Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [226]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_sales_pivot_table = pd.pivot_table(combined_data,index=["retailer", "region", "state","city"],
                                            values="total_sales",
                                            aggfunc="sum")

# Optional: Rename the "total_sales" column to "Total Sales"
retailer_sales_pivot_table = retailer_sales_pivot_table.rename(columns={"total_sales": "Total Sales"})

# Show the top 5 results.
most_sales_retailer = retailer_sales_pivot_table.nlargest(5, "Total Sales")
#most_sales_retailer = retailer_sales_pivot_table.sort_values(by='Total Sales', ascending=False).head(5)
print(most_sales_retailer)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [227]:
# Filter the sales data to get the women's athletic footwear sales data.
women_footwear_sales = combined_data[combined_data["product"].str.contains("Women's") & combined_data["product"].str.contains('Athletic Footwear')]

women_footwear_sales.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
21,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,36,281,10116,3742.92,Outlet
22,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,41,247,10127,4658.42,Online
23,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.00,In-store
26,West Gear,1128299,2020-01-05,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,45,300,135000,47250.00,Outlet
27,West Gear,1128299,2020-01-05,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,34,90,3060,1254.60,Outlet

#### Using `groupby`

In [228]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
total_women_athletic_footwear_sales = women_footwear_sales.groupby(["retailer", "region", "state","city"]).agg(Womens_Footwear_Units_Sold=('units_sold', 'sum'))
total_women_athletic_footwear_sales = total_women_athletic_footwear_sales.rename(columns={"units_sold": "Womens_Footwear_Units_Sold"})
# Sorting the results to show the top 5
top_women_athletic_footwear_sales = total_women_athletic_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print(top_women_athletic_footwear_sales)

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [229]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_women_footwear =pd.pivot_table(combined_data, index=["retailer", "region", "state", "city"],
                                            values="units_sold",
                                             aggfunc="sum")
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table_women_footwear = pivot_table_women_footwear.rename(columns={"units_sold":"Womens_Footwear_Units_Sold"})
# Show the top 5 results.
top_5_results = pivot_table_women_footwear.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print (top_5_results)

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [230]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
day_women_footwear_sales = pd.pivot_table(combined_data, index= "invoice_date", values= "total_sales")

# Optional: Rename the "total_sales" column to "Total Sales"
day_women_sales = day_women_footwear_sales.rename(columns={"total_sales": "Total Sales"})

# Show the table.
print (day_women_sales)

                Total Sales
invoice_date
2020-01-01    140856.833333
2020-01-02    114901.666667
2020-01-03    105428.833333
2020-01-04    102513.333333
2020-01-05    117971.500000
...                     ...
2021-12-27    120470.600000
2021-12-28     60202.000000
2021-12-29     42221.800000
2021-12-30     33580.600000
2021-12-31     39731.800000

[723 rows x 1 columns]

In [231]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_women_sales = day_women_footwear_sales.resample("D").sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
daily_women_sales_sorted = day_women_sales.sort_values(by= "Total Sales", ascending= True)
print(daily_women_sales_sorted)

              Total Sales
invoice_date
2020-12-13        13461.0
2020-12-07        15997.0
2021-10-31        16522.2
2020-12-14        17264.5
2021-12-18        17584.0
...                   ...
2020-07-08       308085.0
2020-07-07       338055.0
2020-07-01       338723.5
2020-06-30       346418.0
2020-09-17       374745.0

[723 rows x 1 columns]

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [232]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_women_footwear_sales = day_women_footwear_sales.resample("W").sum()
#print(weekly_women_footwear_sales)
#print(weekly_women_footwear_sales.columns)

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_women_footwear_sales_sorted = weekly_women_footwear_sales.sort_values(by='total_sales', ascending=True)
print(weekly_women_footwear_sales_sorted)

               total_sales
invoice_date
2020-10-18    1.257340e+05
2020-12-13    2.331610e+05
2021-10-31    2.654317e+05
2020-12-20    2.951135e+05
2022-01-02    2.962068e+05
...                    ...
2020-09-27    1.557548e+06
2020-09-20    1.602208e+06
2020-10-04    1.627700e+06
2020-07-12    1.787918e+06
2020-07-05    1.880870e+06

[105 rows x 1 columns]